<!-- main/templates/main/article_detail.html -->

{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ article.title }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <p><small>{% trans "Published on" %} {{ article.publication_date }}</small></p>
        <a href="{% url 'article_list' %}" class="btn btn-primary">{% trans "Back to list" %}</a>
    </div>
</body>

</html>