{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">

</html>

<head>
    <meta charset="UTF-8">
    <title>{% trans "List of blog articles" %}</title>
</head>

<body>
    <h1>{% trans "List of blog articles" %}</h1>
    <ul>
        {% for article in articles %}
        <li>{{ article.title }} - {{ article.publication_date }}</li>
        {% empty %}
        <li>{% trans "No articles found." %}</li>
        {% endfor %}
    </ul>

    <h2>{% trans "Welcome to my site." %}</h2>

    <p>{% trans "I live in a house near the mountains." %}</p>

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}" />
        <select name="language">
            <option value="en">{% trans "English" %}</option>
            <option value="fr">{% trans "French" %}</option>
        </select>
        <button type="submit">{% trans "Change language" %}</button>
    </form>

</body>

</html>