{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>Nouvel Article</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "List of blog articles" %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 56px;
            margin: auto;
        }

        li {

            list-style-type: none
        }
    </style>
</head>
<body>
    <h1>{% if form.instance.id %}Editer Article{% else %}Nouvel Article{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer</button>
    </form>
    <a href="{% url 'article_list' %}">Retour à la liste</a>
</body>
</html>