{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "List of blog articles" %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 56px;
            margin: auto;
        }

        li {

            list-style-type: none
        }
    </style>
</head>

<body>
    <!--nav bar bootsrap-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="article_list">Mulltilang site Django</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">{%trans "home" %} <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>


    <h1>{% trans "create site" %}</h1>

 

    <ul>
        {% for article in articles %}

        <li>{{ article.title }} - {{ article.publication_date }}</li>
        <a href="{% url 'delete_article' article.id %}">{% trans "Delete" %}</a>
        <a href="{% url 'article_detail' article.id %}"> {% trans "Read" %}</a>
        <a href="{% url 'create_article'%}">{%trans "Create"%}</a>

        {% empty %}
        <li>{% trans "No articles found." %}</li>

        {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer</button>
    </form>
    <a href="{% url 'article_list' %}">Retour à la liste</a>

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}" />
        <select name="language">
            <option value="en">{% trans "English" %}</option>
            <option value="fr">{% trans "French" %}</option>
        </select>
        <button type="submit" class="btn btn-primary btn-sm">{% trans "Change language" %}</button>
    </form>

    <footer class="py-5 bg-light">
        <div class="container">
            <p class="m-0 text-center text-muted">{% trans "2024 Mulltilang. All Rights Reserved." %}</p>
            <div class="text-center">
                <a href="#" class="text-muted mx-2">{% trans "Privacy Policy" %}</a>
                <a href="#" class="text-muted mx-2">{% trans "Terms of Service" %}</a>
            </div>
        </div>
    </footer>


</body>

</html>